In [3]:
pwd

'C:\\Users\\suhai\\Desktop\\04-JAN-2021'

In [4]:
import pandas as pd

# Importing the dataset

In [7]:
df = pd.read_csv('mtcars_missing_data.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,NaN,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     30 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    30 non-null     float64
 4   hp      32 non-null     int64
 5   drat    30 non-null     float64
 6   wt      29 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [9]:
df.isnull().sum()

model    0
mpg      2
cyl      0
disp     2
hp       0
drat     2
wt       3
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

# fillna

In [15]:
df2 = df.fillna(100)
# df.fillna(100, inplace=True)

In [13]:
df2.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,100.000,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [18]:
df.head(15)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,NaN,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,NaN,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,NaN,180,3.07,NaN,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4

# forward fill

In [20]:
df.fillna(method='ffill')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,2.320,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,2.76,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,24.4,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,4.070,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.93,1.835,19.90,1,1,4,1
20,Toyota Corona,33.9,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,120.3,113,3.77,2.140,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# backward fill

In [22]:
df.head(10)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,NaN,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,NaN,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [21]:
df.fillna(method='bfill')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.440,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.69,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,19.2,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.780,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,3.70,1.835,19.90,1,1,4,1
20,Toyota Corona,15.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,351.0,113,3.77,3.170,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# fill with mean

In [24]:
df.head(10)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,NaN,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,NaN,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [25]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,30.000000,32.000000,30.000000,32.000000,30.000000,29.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,19.953333,6.187500,233.740000,146.687500,3.588667,3.258414,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.203877,1.785922,125.325258,68.562868,0.535703,0.972152,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.615000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.275000,4.000000,125.950000,96.500000,3.080000,2.620000,16.892500,0.000000,0.000000,3.000000,2.0000
50%,18.950000,6.000000,196.300000,123.000000,3.695000,3.435000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.450000,8.000000,342.000000,180.000000,3.920000,3.570000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [23]:
df.fillna(df.mean())

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.000000,6,160.00,110,3.900000,2.620000,16.46,0,1,4,4
1,Mazda RX4 Wag,21.000000,6,160.00,110,3.900000,2.875000,17.02,0,1,4,4
2,Datsun 710,22.800000,4,108.00,93,3.850000,2.320000,18.61,1,1,4,1
3,Hornet 4 Drive,21.400000,6,258.00,110,3.080000,3.258414,19.44,1,0,3,1
4,Hornet Sportabout,18.700000,8,360.00,175,3.150000,3.440000,17.02,0,0,3,2
5,Valiant,18.100000,6,225.00,105,2.760000,3.460000,20.22,1,0,3,1
6,Duster 360,14.300000,8,360.00,245,3.588667,3.570000,15.84,0,0,3,4
7,Merc 240D,24.400000,4,146.70,62,3.690000,3.190000,20.00,1,0,4,2
8,Merc 230,19.953333,4,140.80,95,3.920000,3.150000,22.90,1,0,4,2
9,Merc 280,19.200000,6,167.60,123,3.920000,3.440000,18.30,1,0,4,4
10,Merc 280C,17.800000,6,167.60,123,3.920000,3.440000,18.90,1,0,4,4
11,Merc 450SE,16.400000,8,275.80,180,3.070000,4.070000,17.40,0,0,3,3
12,Merc 450SL,17.300000,8,233.74,180,3.070000,3.258414,17.60,0,0,3,3
13,Merc 450SLC,15.200000,8,275.80,180,3.070000,3.780000,18.00,0,0,3,3
14,Cadillac Fleetwood,10.400000,8,472.00,205,2.930000,5.250000,17.98,0,0,3,4
15,Lincoln Continental,10.400000,8,460.00,215,3.000000,5.424000,17.82,0,0,3,4
16,Chrysler Imperial,14.700000,8,440.00,230,3.230000,5.345000,17.42,0,0,3,4
17,Fiat 128,32.400000,4,78.70,66,4.080000,2.200000,19.47,1,1,4,1
18,Honda Civic,30.400000,4,75.70,52,4.930000,1.615000,18.52,1,1,4,2
19,Toyota Corolla,33.900000,4,71.10,65,3.588667,1.835000,19.90,1,1,4,1
20,Toyota Corona,19.953333,4,120.10,97,3.700000,2.465000,20.01,1,0,3,1
21,Dodge Challenger,15.500000,8,318.00,150,2.760000,3.520000,16.87,0,0,3,2
22,AMC Javelin,15.200000,8,304.00,150,3.150000,3.435000,17.30,0,0,3,2
23,Camaro Z28,13.300000,8,350.00,245,3.730000,3.840000,15.41,0,0,3,4
24,Pontiac Firebird,19.200000,8,400.00,175,3.080000,3.845000,17.05,0,0,3,2
25,Fiat X1-9,27.300000,4,79.00,66,4.080000,1.935000,18.90,1,1,4,1
26,Porsche 914-2,26.000000,4,120.30,91,4.430000,2.140000,16.70,0,1,5,2
27,Lotus Europa,30.400000,4,233.74,113,3.770000,3.258414,16.90,1,1,5,2
28,Ford Pantera L,15.800000,8,351.00,264,4.220000,3.170000,14.50,0,1,5,4
29,Ferrari Dino,19.700000,6,145.00,175,3.620000,2.770000,15.50,0,1,5,6
30,Maserati Bora,15.000000,8,301.00,335,3.540000,3.570000,14.60,0,1,5,8
31,Volvo 142E,21.400000,4,121.00,109,4.110000,2.780000,18.60,1,1,4,2

# drop rows with missing data

In [26]:
df.dropna()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [27]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,NaN,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,NaN,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,NaN,180,3.07,NaN,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,NaN,1.835,19.90,1,1,4,1
20,Toyota Corona,NaN,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,NaN,113,3.77,NaN,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [28]:
df.fillna(df.mean(), inplace=True)

In [30]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620000,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875000,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320000,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.258414,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440000,17.02,0,0,3,2

In [33]:
df.drop(['model', 'disp'], axis=1, inplace=True)

In [34]:
df

          mpg  cyl   hp      drat        wt   qsec  vs  am  gear  carb
0   21.000000    6  110  3.900000  2.620000  16.46   0   1     4     4
1   21.000000    6  110  3.900000  2.875000  17.02   0   1     4     4
2   22.800000    4   93  3.850000  2.320000  18.61   1   1     4     1
3   21.400000    6  110  3.080000  3.258414  19.44   1   0     3     1
4   18.700000    8  175  3.150000  3.440000  17.02   0   0     3     2
5   18.100000    6  105  2.760000  3.460000  20.22   1   0     3     1
6   14.300000    8  245  3.588667  3.570000  15.84   0   0     3     4
7   24.400000    4   62  3.690000  3.190000  20.00   1   0     4     2
8   19.953333    4   95  3.920000  3.150000  22.90   1   0     4     2
9   19.200000    6  123  3.920000  3.440000  18.30   1   0     4     4
10  17.800000    6  123  3.920000  3.440000  18.90   1   0     4     4
11  16.400000    8  180  3.070000  4.070000  17.40   0   0     3     3
12  17.300000    8  180  3.070000  3.258414  17.60   0   0     3     3
13  15.200000    8  180  3.070000  3.780000  18.00   0   0     3     3
14  10.400000    8  205  2.930000  5.250000  17.98   0   0     3     4
15  10.400000    8  215  3.000000  5.424000  17.82   0   0     3     4
16  14.700000    8  230  3.230000  5.345000  17.42   0   0     3     4
17  32.400000    4   66  4.080000  2.200000  19.47   1   1     4     1
18  30.400000    4   52  4.930000  1.615000  18.52   1   1     4     2
19  33.900000    4   65  3.588667  1.835000  19.90   1   1     4     1
20  19.953333    4   97  3.700000  2.465000  20.01   1   0     3     1
21  15.500000    8  150  2.760000  3.520000  16.87   0   0     3     2
22  15.200000    8  150  3.150000  3.435000  17.30   0   0     3     2
23  13.300000    8  245  3.730000  3.840000  15.41   0   0     3     4
24  19.200000    8  175  3.080000  3.845000  17.05   0   0     3     2
25  27.300000    4   66  4.080000  1.935000  18.90   1   1     4     1
26  26.000000    4   91  4.430000  2.140000  16.70   0   1     5     2
27  30.400000    4  113  3.770000  3.258414  16.90   1   1     5     2
28  15.800000    8  264  4.220000  3.170000  14.50   0   1     5     4
29  19.700000    6  175  3.620000  2.770000  15.50   0   1     5     6
30  15.000000    8  335  3.540000  3.570000  14.60   0   1     5     8
31  21.400000    4  109  4.110000  2.780000  18.60   1   1     4     2

In [35]:
df.drop([0], axis=0)

          mpg  cyl   hp      drat        wt   qsec  vs  am  gear  carb
1   21.000000    6  110  3.900000  2.875000  17.02   0   1     4     4
2   22.800000    4   93  3.850000  2.320000  18.61   1   1     4     1
3   21.400000    6  110  3.080000  3.258414  19.44   1   0     3     1
4   18.700000    8  175  3.150000  3.440000  17.02   0   0     3     2
5   18.100000    6  105  2.760000  3.460000  20.22   1   0     3     1
6   14.300000    8  245  3.588667  3.570000  15.84   0   0     3     4
7   24.400000    4   62  3.690000  3.190000  20.00   1   0     4     2
8   19.953333    4   95  3.920000  3.150000  22.90   1   0     4     2
9   19.200000    6  123  3.920000  3.440000  18.30   1   0     4     4
10  17.800000    6  123  3.920000  3.440000  18.90   1   0     4     4
11  16.400000    8  180  3.070000  4.070000  17.40   0   0     3     3
12  17.300000    8  180  3.070000  3.258414  17.60   0   0     3     3
13  15.200000    8  180  3.070000  3.780000  18.00   0   0     3     3
14  10.400000    8  205  2.930000  5.250000  17.98   0   0     3     4
15  10.400000    8  215  3.000000  5.424000  17.82   0   0     3     4
16  14.700000    8  230  3.230000  5.345000  17.42   0   0     3     4
17  32.400000    4   66  4.080000  2.200000  19.47   1   1     4     1
18  30.400000    4   52  4.930000  1.615000  18.52   1   1     4     2
19  33.900000    4   65  3.588667  1.835000  19.90   1   1     4     1
20  19.953333    4   97  3.700000  2.465000  20.01   1   0     3     1
21  15.500000    8  150  2.760000  3.520000  16.87   0   0     3     2
22  15.200000    8  150  3.150000  3.435000  17.30   0   0     3     2
23  13.300000    8  245  3.730000  3.840000  15.41   0   0     3     4
24  19.200000    8  175  3.080000  3.845000  17.05   0   0     3     2
25  27.300000    4   66  4.080000  1.935000  18.90   1   1     4     1
26  26.000000    4   91  4.430000  2.140000  16.70   0   1     5     2
27  30.400000    4  113  3.770000  3.258414  16.90   1   1     5     2
28  15.800000    8  264  4.220000  3.170000  14.50   0   1     5     4
29  19.700000    6  175  3.620000  2.770000  15.50   0   1     5     6
30  15.000000    8  335  3.540000  3.570000  14.60   0   1     5     8
31  21.400000    4  109  4.110000  2.780000  18.60   1   1     4     2